---
layout: base.njk
---
<div class="page-intro">
  <h1 class="script-title">{{ title }}</h1>
</div>
<div class="container narrow">
  <article class="article article-page">
    <div class="article-body">
      {{ content | safe }}
    </div>
  </article>
</div>
